.tokens-grid {
  width: 100%;
  background-color: #363636;
  border: 1px solid #585858;
}

.tokens-grid thead tr th {
  text-align: left;
  color: #C4C4C4;
  border: none;
  border-bottom: 1px solid #4DA977;
  padding: 12px 15px;
  font-size: 13px;
}

.tokens-grid tbody tr {
  background-color: #363636 !important;
}

.tokens-grid tbody tr td {
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #585858;
  padding: 15px;
  padding: 12px 15px;
}




